{% extends "basic.html" %}
{% block title %}Quality assurance{% endblock title %}
{% load static %}
{% block body %}
        <style>
            .img-set {
                width: 90%;
                height: auto;
            }

            .img-set img {
                width: 100%;
                height: 50%;
            }
        </style>

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Quality Assurance</h2>
                <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas
                    sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
            </div>
        </div><!-- End Breadcrumbs -->

        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img-set">
                        <img src="{%static '/assets/img/qa2.jpg' %}" alt="about-left side" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ex distinctio sed placeat
                        fugiat illo, qui pariatur autem ipsam consequatur ea sunt, minus, eos tempora consectetur
                        cupiditate dolorum ut non consequuntur esse sapiente? Eveniet architecto modi aperiam, vero
                        expedita reprehenderit unde accusamus iure quaerat laudantium voluptatem, asperiores nulla
                        deserunt laborum illum, at reiciendis? Harum, quas dicta! In optio autem explicabo hic,
                        recusandae natus ab suscipit iste illum eius vel tempora vitae fuga itaque nam consequatur ipsam
                        iure modi sed ipsa porro tempore molestiae ex enim. Odit, reiciendis atque. Natus veniam eum
                        velit facere architecto neque, commodi autem unde suscipit nulla reprehenderit laborum. Eos
                        maxime officia, dolorem velit veniam molestias impedit suscipit culpa amet id ex temporibus
                        placeat eum consequatur consectetur, cumque ipsam minus dolorum. Commodi non reprehenderit nemo
                        sint quasi natus eum assumenda officia, dolores iusto beatae cupiditate expedita nam, aspernatur
                        reiciendis vel illo. Aut officia ratione eligendi, architecto nemo aliquid culpa, cum repellat
                        dignissimos possimus odit voluptatum error voluptate modi amet tenetur corrupti nostrum porro
                        quis! Reiciendis vitae, perferendis tenetur suscipit veniam ab corporis officia mollitia iusto!
                        Similique cumque laudantium atque necessitatibus enim dignissimos nobis fugiat dolorum minima
                        eaque at adipisci, accusantium, voluptatum est, amet culpa sint ad dicta!</p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus accusantium voluptas
                        voluptates optio expedita aliquid natus neque, recusandae, molestias beatae non eius veritatis
                        dolorum autem laboriosam asperiores numquam impedit. Neque tenetur enim corporis? Nostrum,
                        similique consequatur aliquam, doloribus doloremque id ipsa recusandae porro harum possimus odio
                        libero voluptates obcaecati quisquam aliquid! Laboriosam iusto iure cum, voluptatum nisi numquam
                        vitae expedita fugiat placeat at amet quibusdam iste atque deserunt vel dolor sit cumque
                        consequuntur inventore consequatur aperiam recusandae alias. Earum doloribus ut temporibus velit
                        harum at inventore rerum eum dicta ratione molestias magnam perferendis aliquid non, ad voluptas
                        et! Adipisci, accusantium.</p>
                </div>
                <div class="col-sm-6">
                    <div class="img-set">
                        <img src="{%static '/assets/img/qa3.jpg' %}" alt="about-right side"/>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}