{% extends "basic.html" %}
{% block title %}Website Design{% endblock title %}
{% load static %}
{% block body %}
        <style>
            .card{
                margin:10px;
            }
            .about-img {
                width: 90%;
                height: auto;
            }

            .about-img img {
                width: 100%;
                height: 50%;
            }
            .card{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        }
        </style>

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Website Design</h2>
                <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas
                    sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
            </div>
        </div><!-- End Breadcrumbs -->

        <section>
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-6">
                  <div class="web-para">
                    <h2>Website Designing & Development</h2>
                    <p>
                      A domain website serves a brand. It sets up the initial
                      impression on your potential consumers. When it comes to digital
                      marketing & advertising, producing
                    </p>
                    <p>
                      a good site is the original step for any brand. A
                      customer-friendly website and applications play a vital role for
                      a company.
                    </p>
                    <p>
                      If you are in pursuit of a good website designing company in
                      Noida, 7W7Tech IT Solution is the smart opportunity. At 7W7Tech IT
                      Solution, we believe site designing is a great way to show up
                      your business and engage people by turning our vision into
                      ideas.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="about-img">
                    <img src="{% static '/assets/img/website design1.jpeg' %}" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-6">
                  <div class="about-img">
                    <img
                      src="{% static '/assets/img/Right.jpg' %}"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="web-para">
                    <p>
                      We begin by learning about our client's aims and objectives
                      before moving on to brainstorming sessions in which we exchange
                      creative ideas and gain a better knowledge of their vision.
                      After that, we put our suggestions into action and work on the
                      website's appearance.
                    </p>
                    <p>
                      The mock-up designs we create for various websites will provide
                      you with a clear visual representation of how the pages will
                      appear in all browsers. The designs are simple to grasp and
                      reflect how people would perceive and engage with the site.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div>
            <div class="container mt-5">
                <h2 class="text-center my-5">Services</h2>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img src="{% static '/assets/img/web development.jpeg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title text-center">Web Development</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img src="{% static '/assets/img/web-des-transformed.jpeg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title text-center">Website Design</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img src="{% static '/assets/img/website ecommerce.jpeg' %}" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title text-center">E-Commerce</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up
                        the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="card">
                        <img src="{% static '/assets/img/website redesign.jpeg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title text-center">Website Redisgn</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <img src="{% static '/assets/img/istockphoto-518348886-1024x1024-transformed.jpeg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title text-center">Website Maintenance</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <img src="{% static '/assets/img/wordpress1-transformed.jpeg' %}" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title text-center">Wordpress Development</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
        </div>


{% endblock %}